header {
    background-color: #000;

    .nav_container {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 40px;
        background-color: $dark-color;

        .header_logo {
            a {
                margin-left: 10px;

                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-family: 'Barlow Semi Condensed', sans-serif;
                font-size: 2rem;
                font-weight: 600;
            }
        }

        .menu {
            width: 100%;

            color: #fff;
            opacity: 70%;
            text-transform: uppercase;
            text-align: end;
        }

        .navbar {
            ul {
                display: none;

                li {
                    li a {}
                }
            }
        }
    }

    .header_container {
        height: 640px;
        width: 100%;
        background: no-repeat center url("/img/header.jpg");
        background-size: cover;
    }
}