/* PRIMARY */
/* MIXIN'S */
header {
  background: no-repeat center url("/img/header.jpg");
  background-size: cover;
  text-transform: uppercase;
  width: 100%;
}
header .navbar {
  display: flex;
  justify-content: flex-end;
}
header .navbar .nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: rgba(31, 31, 31, 0.3);
}
header .navbar .nav_container .header_logo a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-stretch: condensed;
  font-size: 1.8rem;
  font-weight: 600;
}
header .navbar .nav_container nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
header .navbar .nav_container nav .menu_list {
  list-style: none;
}
header .navbar .nav_container nav .menu_list .list_item {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-stretch: condensed;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
}
header .navbar .nav_container nav .menu_button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}
header .navbar .nav_container nav .menu_list.is-active {
  display: block;
  opacity: 0.95;
  visibility: visible;
}
header .header_main .header_container {
  display: flex;
  flex-direction: column;
  height: 92vh;
  justify-content: center;
  padding: 0 10px;
}
header .header_main .header_container :first-child {
  margin: 160px 0 0 0;
  color: rgb(191, 146, 91);
  font-weight: 600;
  font-size: 1.1em;
  font-stretch: extra-expanded;
}
header .header_main .header_container h1,
header .header_main .header_container .outline {
  margin: 0 0 20px 0;
  color: #fff;
  /* fallback */
  font-size: 2.6rem;
  font-stretch: condensed;
  font-weight: 800;
}
header .header_main .header_container h1 .outline,
header .header_main .header_container .outline .outline {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
header .header_main .header_container :nth-child(3) {
  margin: 0;
  text-transform: none;
  color: #fff;
  font-weight: 200;
}
header .header_main .header_container .about_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  width: 40%;
  text-decoration: none;
  color: rgb(191, 146, 91);
  font-weight: 600;
  border: 2px solid rgb(191, 146, 91);
}

/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 8px 0;
    border: 2px dashed #0d0c0d;
  }
  .nav_container {
    height: 40px;
  }
  .menu_list {
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 100vw;
    position: absolute;
    top: 40px;
    right: 0;
  }
  .menu_list .list_item {
    display: block;
    background-color: #000;
    height: 60px;
    padding: 20px 0 0 20px;
  }
  .header_logo a {
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .nav_container {
    border-bottom: 6px solid rgba(0, 0, 0, 0.5);
  }
  .header_linje {
    width: 100vw;
    border-top: 1px dashed #0d0c0d;
    position: relative;
    margin: 0px;
  }
  .menu_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
    top: 0;
    margin-right: 150px;
  }
  .menu_list li {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  .menu_list li .list_item {
    font-size: 1rem;
  }
  .menu_button {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .header_logo a {
    margin-left: 230px;
  }
  .header_main {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
  }
}/*# sourceMappingURL=header.css.map */