header {
    background-color: #000;

    .navbar {
        padding: 10px 0;
        border: 2px dashed #0d0c0d;

        .nav_container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 100%;
            background-color: #0d0c0d;

            .header_logo {
                a {
                    margin-left: 15px;
                    color: #fff;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: 'Barlow Semi Condensed', sans-serif;
                    font-size: 2rem;
                    font-weight: 600;
                }
            }

            .menu {
                width: 100%;
                margin-right: 15px;
                color: #fff;
                opacity: 70%;
                text-transform: uppercase;
                text-align: end;
            }

            .navbar_items {
                ul {
                    display: none;
                }
            }
        }
    }

    .header_main {

        .header_container {
            height: (640-81px);
            width: 90%;
            background: no-repeat center url("/img/header.jpg");
            background-size: cover;
            text-transform: uppercase;
            padding: 20px;

            :first-child {
                color: $gold-color;
                font-size: 1.2em;
            }

            h1 {
                color: #fff;
                font-size: 2.8rem;
            }

            :nth-child(3) {
                text-transform: none;
                color: #fff;
            }

            .about_btn {
                text-decoration: none;
                color: $gold-color;
                font-weight: 700;
                border: 2px solid white;
            }
        }
    }
}