/* PRIMARY COLORS */
/* MIXIN'S */
.reviews {
  background-color: #eae8de;
  height: 100%;
  margin: 0;
  /* slider-container */
}
.reviews .headline-container_reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 25vh;
}
.reviews .headline-container_reviews h3 {
  margin-top: 0;
  font-size: 1.8rem;
}
.reviews .reviews_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* slider */
}
.reviews .reviews_container .slider {
  /* slides*/
}
.reviews .reviews_container .slider .slides {
  /* slide */
}
.reviews .reviews_container .slider .slides .card {
  background-color: #fff;
  border: 1px solid rgb(235, 232, 222);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(235, 232, 222);
}
.reviews .reviews_container .slider .slides .card .bi-quote {
  width: 25px;
  font-size: 1.5rem;
  border-radius: 100%;
  background-color: rgb(191, 146, 91);
  color: #fff;
  padding: 8px;
}
.reviews .reviews_container .slider .slides .card .review {
  font-size: 0.9rem;
}
.reviews .reviews_container .slider .slides .card .review_customer {
  display: flex;
  max-width: 300px;
  align-items: center;
}
.reviews .reviews_container .slider .slides .card .review_customer span {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.reviews .reviews_container .slider .slides .card .review_customer .customer_img_1 {
  content: url(/img/reviews_1.jpg);
}
.reviews .reviews_container .slider .slides .card .review_customer .customer_img_2 {
  content: url(/img/reviews_2.jpg);
}
.reviews .reviews_container .slider .slides .card .review_customer .customer_img_3 {
  content: url(/img/reviews_3.jpg);
}
.reviews .reviews_container .slider .slides .card .review_customer .review_sign .bi-star-fill {
  color: rgb(191, 146, 91);
  font-size: 0.7rem;
}
.reviews .reviews_container .slider .slides .card .review_customer .review_sign p {
  margin: 5px 20px;
}
.reviews .reviews_container .slider .slides .card .review_customer p:nth-child(2) {
  font-weight: 800;
}
.reviews .reviews_container .slider .slides .card .review_customer p:last-of-type {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 800;
  color: rgb(191, 146, 91);
}

@media screen and (max-width: 1200px) {
  .reviews {
    /* slider-container */
  }
  .reviews .reviews_container {
    /* slider */
  }
  .reviews .reviews_container .slider {
    height: 300px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* slides*/
  }
  .reviews .reviews_container .slider .slides {
    display: flex;
    overflow-x: scroll;
    position: relative;
    scroll-behavior: smooth;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    /* slide */
  }
  .reviews .reviews_container .slider .slides .card {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    height: 300px;
    margin-right: 0px;
    box-sizing: border-box;
    transform: scale(1);
    padding: 20px;
    /* Lyckades inte kombinera overflow hidden */
  }
  .reviews .reviews_container .slider .slides .card .slide_left {
    position: absolute;
    right: 5px;
    top: 120px;
    font-size: 3rem;
    color: rgb(191, 146, 91);
    opacity: 0.2;
  }
  .reviews .reviews_container .slider .slides .card .slide_right {
    position: absolute;
    left: 5px;
    top: 120px;
    font-size: 3rem;
    color: rgb(191, 146, 91);
    opacity: 0.2;
  }
  .reviews .reviews_container .slider .slides .card .slide_left:hover,
.reviews .reviews_container .slider .slides .card .slide_right:hover {
    opacity: 1;
  }
  .reviews .reviews_container .slider .slides .card .bi-quote {
    position: absolute;
    right: 30px;
    top: 10px;
  }
  .reviews .reviews_container .slider .slides .card .review {
    margin-top: 0;
    width: 80%;
    font-size: 0.9rem;
  }
  .reviews .reviews_container .slider .slides .card .review_customer {
    position: absolute;
    bottom: 10px;
  }
  .reviews .bottom_links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviews .bottom_links span {
    height: 10px;
    width: 10px;
    background-color: grey;
    border-radius: 100%;
    margin: 10px 10px 30px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .reviews {
    /* slider-container */
  }
  .reviews .reviews_container {
    margin: 0 150px;
    /* slider */
  }
  .reviews .reviews_container .slider {
    /* slides*/
  }
  .reviews .reviews_container .slider .slides {
    display: flex;
    /* slide */
  }
  .reviews .reviews_container .slider .slides .card {
    height: 100%;
    margin: 15px;
    padding: 0 20px 20px 20px;
  }
  .reviews .reviews_container .slider .slides .card .slide_left,
.reviews .reviews_container .slider .slides .card .slide_right {
    display: hide;
    visibility: hidden;
  }
  .reviews .reviews_container .slider .slides .card .bi-quote {
    display: inline-block;
    position: relative;
    top: -20px;
    left: -20px;
  }
  .reviews .reviews_container .slider .slides .card .review {
    margin: 0 0 20px 0;
  }
  .reviews .reviews_container .slider .slides .card .review_customer span {
    width: 70px;
    height: 70px;
  }
}/*# sourceMappingURL=reviews-2.css.map */