/* PRIMARY COLORS */
$gold-color: rgb(191, 146, 91);
$dark-color: rgb(20, 27, 37);
$beige-color: rgb(235, 232, 222);

/* MIXIN'S */
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services {
    margin: 0;

    .services_wrapper {
        @include center();
        flex-direction: row;
        text-align: center;

        img {
            /* placerar ovanför sin div */
            margin-top: -90px;
            width: 150px;
            height: 150px;
            border-radius: 100%;
        }

        div {
            background-color: #b78649;
            color: $beige-color;
            height: 300px;
            padding: 20px;
        }

        div:nth-child(odd) {
            background-color: $gold-color;
        }

        h4 {
            font-family: 'Barlow Semi Condensed', sans-serif;
            text-transform: uppercase;
            font-size: 1.4rem;
            margin: 20px;
        }

        p {
            font-size: 0.9rem;

        }
    }
}

/* MEDIA QUERIES - MOBILE+TABLET */
@media screen and (max-width: 800px) {
    .services_wrapper {
        flex-wrap: wrap;

        div {
            width: 100%;
        }
    }
}